<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Flags</title>
  </head>
  <body>
    <div>
      <h1>Flags</h1>
      <ul>
      <% for (const flag of flags) { %>
        <li><a href="/flags/<%= flag.name %>"><%= flag.name %></a> <a href="/manage/<%= flag.name %>">Manage</a></li>
      <% } %>
      </ul>
    </div>
  </body>
</html>
