<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Flags</title>
  </head>
  <body>
    <ul>
    <% for (const flag of flags) { %>
      <li><%= flag %></li>
    <% } %>
    </ul>
  </body>
</html>
